extends layout

block content
  form(action="/users" method="post")
    input(type="text" name="name")
    input(type="number" name="age" )
    input(type="submit")

  table
    thead
      tr
        th ID
        th Name
    tbody
      for user in users
        tr
          td= user.id
          td= user.name
          td= age
